## Ignorar diretórios binários e de build
/bin/
/obj/

## Ignorar arquivos de configuração do usuário
*.user
*.userosscache
*.suo
*.userprefs

## Ignorar arquivos gerados pelo Visual Studio
.vs/
.vscode/

## Ignorar diretórios específicos do ASP.NET
# Diretório de publicação
publish/

# Ignorar arquivos de dependências de pacotes NuGet
*.nupkg
project.lock.json
project.fragment.lock.json

## Ignorar arquivos temporários de compilação e logs
*.log
*.tlog
*.vspscc

# Ignorar os arquivos do Diretório de Testes
TestResults/

# Ignorar o diretório de dependências do NuGet
/packages/

# Ignorar arquivos do .NET Core (caso esteja usando)
*.dll
*.exe
*.pdb
*.cache
